<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 col-sm-12" ng-repeat="stream in vm.streams">
          <div class="media well" cg-busy="{promise:vm.promises[$index],message:'Starting your Stream'}" ng-click="vm.play(stream.channel.name, $index)" style="cursor: pointer">
            <div class="pull-left">
              <img class="media-object" ng-src="{{stream.preview.medium}}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{stream.channel.display_name}}</h4>
              <br>
              {{stream.channel.status}}
              <br>
              <br>
              <span class="glyphicon glyphicon-globe"> {{stream.channel.language}}</span>
              <br>
              <span class="glyphicon glyphicon-user"> {{stream.viewers}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" ng-click="vm.loadStreams()">Load more!</button>
        </div>
      </div>
    </div>
  </div>
</div>
