<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="well">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Filter..." ng-model="vm.filterInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="vm.clearFilter()">Clear</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="vm.userName === undefined">
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-danger" role="alert">Your username is undefined! Go to settings and set it.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"
             ng-repeat="stream in vm.streams | fuzzyBy: 'displayName' : vm.filterInput | pick:'online === true' track by stream.index">
          <stream-card ng-click="vm.play(stream.name, stream.index)"
                       stream-promise="vm.promises[stream.index]"
                       display-name="stream.displayName"
                       picture="stream.picture"
                       language="stream.language"
                       status="stream.status"
                       viewers="stream.viewers"
                       online="stream.online"
                       game="stream.game">
          </stream-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <button class="btn btn-primary btn-block" ng-disabled="vm.loadingMore || vm.userName === undefined"
                    ng-click="vm.loadStreams()">{{vm.loadingButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
