<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="well">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Filter..." ng-model="vm.filterInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="vm.clearFilter()">Clear</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="vm.userName === undefined">
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-danger" role="alert">Your username is undefined! Go to settings and set it.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="stream in vm.streams | filter:vm.filterInput">
          <div class="well"
               cg-busy="{promise:vm.promises[$index],message:'Starting your Stream'}"
               ng-click="vm.play(stream.channel.name, $index)" style="cursor: pointer">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <img class="img-responsive" ng-src="{{stream.preview.medium}}">
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h4>{{stream.channel.display_name}}</h4>
                <br>
                {{stream.channel.status}}
                <br>
                <br>
                <span class="glyphicon glyphicon-flash"> {{stream.channel.game}}</span>
                <br>
                <span class="glyphicon glyphicon-globe"> {{stream.channel.language}}</span>
                <br>
                <span class="glyphicon glyphicon-user"> {{stream.viewers}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <button class="btn btn-primary btn-block" ng-disabled="vm.loadingMore || vm.userName === undefined"
                    ng-click="vm.loadStreams()">{{vm.loadingButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
