<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="well">
            <form ng-submit="vm.saveChanges()">
              <div class="form-group">
                <label for="usernameInput">Twitch Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Username..." ng-model="vm.userName">
              </div>
              <div class="form-group">
                <label for="kodiAddress">Kodi Address</label>
                <input type="url" class="form-control" id="kodiAddress" placeholder="http://kodi.local" ng-model="vm.kodiAddress">
              </div>
              <div class="form-group">
                <label for="qualityPicker">Playback Quality</label>
                <select class="form-control"
                        id="qualityPicker"
                        ng-model="vm.playbackQuality"
                        ng-options="quality.name for quality in vm.playbackQualities">
                </select>
              </div>
              <button type="submit" class="btn btn-default">Save settings</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
