<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="well">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search input..." ng-model="vm.searchInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="vm.search()">Search</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="vm.games.length === 0">
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-info" role="alert">Nothing to show here, make a search!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="game in vm.games | filter:vm.filterInput track by game.name">
          <div class="thumbnail" ng-click="vm.goToGame(game.name)" style="cursor: pointer">
            <img class="img-responsive" style="width: 100%" ng-src="{{::game.picture}}">
            <div class="caption">
              <h5 class="title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">{{::game.name}}</h5>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

