<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="well">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Filter..." ng-model="vm.filterInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="vm.clearFilter()">Clear</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="stream in vm.streams | filter:vm.filterInput">
          <div class="well"
               cg-busy="{promise:vm.promises[$index],message:'Starting your Stream'}"
               ng-click="vm.play(stream.name, $index)" style="cursor: pointer">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <img class="img-responsive" ng-src="{{stream.picture}}">
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h4>{{stream.displayName}}</h4>
                <br>
                <p style="word-wrap: break-word">
                  {{stream.status}}
                </p>
                <span class="glyphicon glyphicon-globe"> {{stream.language}}</span>
                <br>
                <span class="glyphicon glyphicon-user"> {{stream.viewers}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <button class="btn btn-primary btn-block" ng-disabled="vm.loadingMore"
                    ng-click="vm.loadStreams()">{{vm.loadingButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
